body{
    background-color: rgb(156, 158, 155);
    color: rgb(51, 2, 96);
}
header {
    border-bottom: solid 2px rgb(17, 52, 97);
    padding: 20px;
    font-size: 32px;
    color: rgb(29, 5, 38);
}